<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net461" />
  <package id="CsvHelper" version="2.13.5.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net461" />
  <package id="Humanizer.Core" version="2.4.2" targetFramework="net461" />
  <package id="Microsoft.Activities.Extensions" version="2.0.0.13" targetFramework="net461" />
  <package id="Microsoft.Activities.UnitTesting" version="2.0.6.9" targetFramework="net461" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.0" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="UiPath" version="19.10.7243.31457" targetFramework="net461" />
  <package id="UiPath.OCR.Contracts" version="2.2.1" targetFramework="net461" />
  <package id="UiPath.System.Activities" version="19.10.1" targetFramework="net461" />
  <package id="UiPath.UIAutomation.Activities" version="19.10.1" targetFramework="net461" />
  <package id="UiPath.Vision" version="1.8.1" targetFramework="net461" />
</packages>